.why-college-section{
    padding: 50px 100px;
    width: 100%;
    height: auto;
}

.why-college-section-title{
    margin-bottom: 40px;
}

.why-college-section-reason{
    margin-bottom:19px;
    font-weight:600;
    font-size: 17px;
    
}