.main-container{
    width:auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow-y: hidden;

    .sidebar-conten{
        height: 100%;
        width: 300px;
    }

    .main-content{
        width: auto;
        height: 100%
    }
}