<div class="container">
    <div class="resume">
        <div class="head">
            <img src="assets/avatar.jpg" alt="">
            <div class="title">
                <h2>Yelemanov Temirlan</h2>
                <h3>24 years</h3>
            </div>
        </div>
        <div class="content">
        <b>Опыт работы</b> <br>
        
        <ul>
            <li>
                01.03.2021 — 12.10.2021 <br>
                Оператор принтеров • «Keruen Plus» <br>
                Обеспечивал оборудование бесперебойной работой.  <br>
            </li>
            <li>
                DAMUMED
                1 год
            </li>
        </ul>
        <b>Образование</b>
        <ul>
            <li>Казахско-Британский Технологический Университет (КБТУ), Алматы
                •	Не полное образование. Один курс.</li>
            <li>IT Step Academy, Нур-Султан
                •	Курс Full Stack разработчик. Начал 16.05.2022 и обучаюсь по сей день.</li>
        </ul>
    
        <b>Hard Skills</b> <br>
        C++, C#, HTML, CSS, JavaScript,.NET, Winforms, WPF. <br>
    
        <b>Soft Skills</b>
        <ul>
            <li>В рамках ООП курса по С++, создал игру работая в команде. </li>
            <li>Поддерживал командный настрой.</li>
            <li>За неделю освоил библиотеку SFML.</li>
            <li>Поставленные задачи выполняю в сроки.</li>
            <li>Смело берусь за более трудные задачи.</li>
        </ul>
    
    <b>Дополнительно</b> <br>
    Мой ГитХаб - https://github.com/TiTaniumum <br>
    Рекомендательное письмо - https://drive.google.com/file/d/1hzwbRcbeNaGcfRGDuYLhHyx8-WfDob33/view?usp=drive_link <br>
    Мой Первый сайт - https://titaniumum.github.io/ <br>
    2Д игра на С++ - https://github.com/mlktkd/Runamicon  <br>
    
        </div>
    </div>
</div>
