<div class="container">
    <div class="resume">
        <div class="head">
            <img src="assets/avatar.jpg" alt="">
            <div class="title">
                <h2>Yelemanov Temirlan</h2>
                <h3>24 years</h3>
            </div>
        </div>
        <div class="content">
        <b>Опыт работы</b> <br>
        
        <ul *ngFor="let job of jobs">
            <li>{{job}}</li>
        </ul>
        <b>Образование</b>
        <ul>
            <li>Казахско-Британский Технологический Университет (КБТУ), Алматы
                •	Не полное образование. Один курс.</li>
            <li>IT Step Academy, Нур-Султан
                •	Курс Full Stack разработчик. Начал 16.05.2022 и обучаюсь по сей день.</li>
        </ul>
    
        <b>Hard Skills</b> <br>
        {{ getSkills() }} <br>
    
        <b>Soft Skills</b>
        <ul>
            <li>В рамках ООП курса по С++, создал игру работая в команде. </li>
            <li>Поддерживал командный настрой.</li>
            <li>За неделю освоил библиотеку SFML.</li>
            <li>Поставленные задачи выполняю в сроки.</li>
            <li>Смело берусь за более трудные задачи.</li>
        </ul>
    
    <b>Дополнительно</b> <br>
    {{ getAdditional() }}
    
        </div>
    </div>
</div>
